.footer {
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 582px;
  -ms-flex-pack: center;
  justify-content: center;
  left: 194px;
  position: absolute;
  right: 0;
}

.footer-logo {
  height: 103px;
  width: 82px;
}

.footer-section {
  margin: 0 30px;
}

.footer-section-container {
  margin: 80px 0 60px 0;
}

.footer-icons-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer-icon {
  height: 20px;
  width: auto;
}

.footer-icon-container:nth-child(2) {
  margin: 0 36px;
}

.active-footer {
  color: #f00 !important;
}

@media screen and (max-width: 900px) {
  .footer {
    left: 0;
  }

  .footer-section-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
  
  .footer-section-container a:nth-child(-n + 2) {
    margin-bottom: 20px;
  }
}